h1 {
  color: blue;
}

a {
  color: transparent;
  border: 1px solid #ccc;
  text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

p {
  margin: 1px;
  padding: 0;
}

.content {
  color: brown;
}

ul li {
  font-size: 30px;
  font-family: 'Libre Barcode 39 Text', cursive;
}

ul > li {
  color: red;
}

ul > li:last-child {
  color: blue;
  font-size: unset;
}
