<form action="/submit" method="POST">
  <label>Name</label>
  <input type="text" name="name" required>
  <br><br>
  <input type="text" name="address">
  <br><br>
  <button type="submit">Submit</button>
</form>